<ion-content>
  <img src="../../assets/images/logoutp.png" alt="" />
  <form [formGroup]="loginForm">

    <ion-list>
        <ion-item>
            <ion-label position="stacked">Usuario</ion-label>
            <ion-input formControlName="username" type="text">
            </ion-input>
        </ion-item>


        <ion-item>
            <ion-label position="stacked">Contraseña</ion-label>
            <ion-input formControlName="password" type="text">
            </ion-input>
        </ion-item>

    </ion-list>

    <ion-row class="signin">
        <ion-col>
            <ion-button (click)="login()" color="primary" shape="full" expand="block">Ingresar</ion-button>
        </ion-col>
    </ion-row>

</form>
</ion-content>
